@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&family=Ubuntu:ital,wght@0,400;1,300;1,400&display=swap");

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}
body {
	line-height: 1;
}
ol,
ul {
	list-style: none;
}
blockquote,
q {
	quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
	content: "";
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

a {
	text-decoration: none;
}

body {
	font-family: "Poppins", sans-serif;
	background-color: #fdfdfe;
	font-size: 16px;
	line-height: 1;
}

.wraper {
	max-width: 1440px;
	margin: 0 auto;
}

.container {
	max-width: 1170px;
	padding: 0 15px;
	margin: 0 auto;
}

// button
.button {
	display: inline-block;
	color: $text-color;
	font-weight: bold;
	border: 0.5px $blur-color solid;
	outline: 0;
	cursor: pointer;
	background-color: transparent;
	padding: 20px 30px;
	line-height: normal;
	border-radius: 10px;

	&--primary {
		background-color: $defaul-color;

		& a{
			color: white !important;
		}
	}
}

//caption content
.content--header {
	align-items: center;
	text-align: center;
}

.content--header-title {
	display: inline-block;
	color: $blur-color;
	text-transform: uppercase;
	position: relative;
	padding: 0 5px;
	margin: 0 0 35px 0;

	&::after,
	&::before {
		position: absolute;
		content: "";
		width: 30px;
		height: 2px;
		background-color: $defaul-color;
	}

	&::before {
		top: 50%;
		left: 0;
		transform: translateX(-100%) translateY(-50%);
	}

	&::after {
		top: 50%;
		right: 0;
		transform: translateX(100%) translateY(-50%);
	}
}

.content--header-desc {
	font-size: 40px;
	text-transform: uppercase;
	font-weight: 800;
	line-height: 1.5;
	& span {
		display: block;
	}
}
