@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&family=Ubuntu:ital,wght@0,400;1,300;1,400&display=swap");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #fdfdfe;
  font-size: 16px;
  line-height: 1;
}

.wraper {
  max-width: 1440px;
  margin: 0 auto;
}

.container {
  max-width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
}

.button {
  display: inline-block;
  color: #222930;
  font-weight: bold;
  border: 0.5px #989ea2 solid;
  outline: 0;
  cursor: pointer;
  background-color: transparent;
  padding: 20px 30px;
  line-height: normal;
  border-radius: 10px;
}

.button--primary {
  background-color: #579aff;
}

.button--primary a {
  color: white !important;
}

.content--header {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.content--header-title {
  display: inline-block;
  color: #989ea2;
  text-transform: uppercase;
  position: relative;
  padding: 0 5px;
  margin: 0 0 35px 0;
}

.content--header-title::after, .content--header-title::before {
  position: absolute;
  content: "";
  width: 30px;
  height: 2px;
  background-color: #579aff;
}

.content--header-title::before {
  top: 50%;
  left: 0;
  -webkit-transform: translateX(-100%) translateY(-50%);
          transform: translateX(-100%) translateY(-50%);
}

.content--header-title::after {
  top: 50%;
  right: 0;
  -webkit-transform: translateX(100%) translateY(-50%);
          transform: translateX(100%) translateY(-50%);
}

.content--header-desc {
  font-size: 40px;
  text-transform: uppercase;
  font-weight: 800;
  line-height: 1.5;
}

.content--header-desc span {
  display: block;
}

header {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 3fr 1fr;
      grid-template-columns: 1fr 3fr 1fr;
  padding: 45px 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header--logo a {
  display: inline-block;
}

.header--logo a img {
  width: 100%;
  height: auto;
}

.header--navbar .menu {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (120px)[4];
      grid-template-columns: repeat(4, 120px);
}

.header--navbar .menu li {
  cursor: pointer;
  text-align: center;
}

.header--navbar .menu li a {
  color: #222930;
  font-weight: bold;
}

.header--navbar .menu li:hover a {
  color: #579aff;
}

.header--user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.header--user a {
  border: 0;
}

.banner {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 407px 728px;
      grid-template-columns: 407px 728px;
  padding: 0  0 140px 0;
}

.banner--title {
  color: #222930;
  font-size: 40px;
  text-transform: uppercase;
  font-weight: 800;
}

.banner--title span {
  display: block;
  line-height: 1.4;
}

.banner--desc {
  color: #222930;
  padding: 47px 0;
}

.banner--desc span {
  display: block;
  line-height: 1.5;
}

.banner--action {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 135px 180px;
      grid-template-columns: 135px 180px;
  grid-column-gap: 35px;
}

.banner--action a {
  font-size: 13px;
  border: 0.5px solid #989ea2;
  text-align: center;
  color: white;
}

.banner--action a:last-child {
  color: #989ea2;
}

.banner-image img {
  width: 95%;
  -webkit-transform: translateX(130px);
          transform: translateX(130px);
}

.waper--items_content_1 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 70px;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 90px 0 0 0;
  cursor: pointer;
}

.items--content_1 {
  border: 0.2px solid #cccc;
  border-radius: 20px;
  background: white;
}

.items--content_1--blur {
  border: 0.1px solid #cccc;
  -webkit-box-shadow: 0 4px 6px #ccc;
          box-shadow: 0 4px 6px #ccc;
}

.item--img-content_1 {
  padding: 45px 0 40px;
}

.item--img-content_1 img {
  width: 35%;
  height: auto;
}

.item--cap-content_1 {
  color: #222930;
  font-size: 18px;
  line-height: 1.1;
  font-weight: bold;
  margin: 0 0 25px 0;
}

.item--cap-content_1 span {
  display: block;
}

.item--desc-content_1 {
  color: #989ea2;
  line-height: 1.3;
  margin: 0 0 35px 0;
}

.item--desc-content_1 span {
  display: block;
  padding: 0 30px;
}

.item--learn-content_1 {
  margin: 0  0 40px 0;
}

.item--learn-content_1 a {
  color: #989ea2;
}

.item--learn-content_1.button--primary a {
  color: white;
}

.content_2 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 4fr 5fr;
      grid-template-columns: 4fr 5fr;
  grid-column-gap: 100px;
  margin: 160px 0 0 0;
}

.content_2--title_content {
  display: inline-block;
  position: relative;
  color: #989ea2;
  text-transform: uppercase;
  margin-bottom: 30px;
  padding-left: 35px;
}

.content_2--title_content::after {
  position: absolute;
  content: "";
  width: 30px;
  height: 2px;
  background: #579aff;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.content_2--cap_content {
  color: #222930;
  font-size: 40px;
  font-weight: 800;
  line-height: 1.2;
  margin: 0  0 30px 0;
}

.content_2--cap_content span {
  display: block;
}

.conten_2--desc_content {
  color: #989ea2;
  margin: 0  0 40px 0;
}

.conten_2--desc_content span {
  display: block;
  line-height: 1.4;
}

.content_2--button_content {
  display: inline-block;
}

.content_2--button_content a {
  color: white;
}

.content_2--image img {
  width: 95%;
  height: auto;
  -webkit-transform: translateY(-70px);
          transform: translateY(-70px);
}

.content-3 {
  margin-top: 85px;
}

.wraper--items_content_3 {
  margin-top: 60px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 40px;
}

.items-content_3 {
  position: relative;
  background-color: #fff;
  border-radius: 16px;
  border: 0.2px solid #cccc;
  min-height: 875px;
}

.items-content_3--actives {
  border: 0;
  -webkit-box-shadow: 0 4px 6px #ccc;
          box-shadow: 0 4px 6px #ccc;
}

.item--most_content_3 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 6fr 4fr;
      grid-template-columns: 6fr 4fr;
  text-align: center;
}

.item--most_content_3 .dontcare {
  background: white;
  color: white;
  font-weight: bold;
  padding: 17px 0;
  border-radius: 16px;
}

.item--most_content_3 .popular {
  background: white;
  color: white;
  font-weight: bold;
  padding: 17px 0;
  border-radius: 0 16px 0 16px;
}

.item--most_content_3--actives .popular {
  background: #ff858d;
  color: white;
  font-weight: bold;
  padding: 17px 0;
  border-radius: 0 16px 0 16px;
}

.item--price_content_3 {
  color: #222930;
  padding: 0 30px;
}

.item--price_content_3 sub {
  vertical-align: top;
}

.item--price_content_3 h2 {
  font-size: 24px;
  font-weight: bold;
  padding: 15px 0 30px;
}

.item--price_content_3 h3 {
  font-size: 18px;
  font-weight: 600;
}

.item--price_content_3 span {
  font-size: 50px;
  font-weight: 500;
}

.item--desc_content_3 {
  color: #989ea2;
  line-height: 1.4;
  padding: 0 30px 50px;
  margin: 75px 0 0px;
}

.item--desc_content_3 span {
  display: block;
}

.item--feature_content_3 {
  padding: 0 30px;
}

.item--feature_content_3 h2 {
  font-size: 24px;
  color: #222930;
  font-weight: 600;
  margin-bottom: 35px;
  padding: 10px 0 0 0;
  border-top: 0.2px solid #cccc;
}

.item--feature_content_3 ul {
  min-height: 380px;
}

.item--feature_content_3 li {
  padding: 0 0 30px 0;
  color: #989ea2;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.item--feature_content_3 li i {
  font-family: "Font Awesome 5 Pro";
  color: white;
  background-color: #989ea2;
  padding: 3px 4px;
  border-radius: 50%;
  margin-right: 5px;
}

.item--button_content-3 {
  position: absolute;
  bottom: 65px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.item--button_content-3 a {
  color: #989ea2;
}

.content_4 {
  margin-top: 160px;
}

.wraper--items_content_4 {
  margin-top: 80px;
}

.item {
  border: 0.2px solid #cccc;
  border-radius: 16px;
  background-color: white;
}

.item--actives {
  border: 0;
  -webkit-box-shadow: 0 4px 6px #ccc;
          box-shadow: 0 4px 6px #ccc;
}

.item--avatar {
  padding: 45px 0 25px;
}

.item--avatar img {
  width: 30% !important;
  height: auto;
  margin: 0 auto;
}

.item--infor {
  text-align: center;
  margin: 0 0 50px 0;
}

.item--infor h2 {
  font-size: 20px;
  font-weight: bold;
  padding: 0 0 20px 0;
}

.item--infor h3 {
  font-size: 14px;
  color: #989ea2;
}

.item--desc-infor {
  padding: 0 20px 0;
  text-align: center;
  line-height: 1.4;
  color: #989ea2;
}

.item--desc-infor span {
  display: block;
}

.item--symbol {
  text-align: center;
  padding: 35px 0;
}

.item--symbol i {
  font-family: "Font Awesome 5 Pro";
  color: #ffcb46;
}

.silde .owl-nav {
  display: block !important;
  text-align: center;
  margin: 50px 0 0 0;
}

.silde .owl-nav span {
  font-size: 40px;
  padding: 10px 15px;
}

.content_5 {
  margin-top: 100px;
}

.wraper-content_5 {
  position: relative;
  width: 80%;
  margin: 0 auto;
  background-color: #fbfbfb;
  border-radius: 20px;
  padding: 80px 0 0 0;
  -webkit-box-shadow: 0 4px 6px #ccc;
          box-shadow: 0 4px 6px #ccc;
}

.desc--content_5 {
  margin: 50px 0;
  text-align: center;
  color: #989ea2;
  line-height: 1.4;
  font-size: 18px;
  padding: 0 0 180px 0;
}

.desc--content_5 span {
  display: block;
}

.button--content_5 {
  position: absolute;
  bottom: 80px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.img_1--content_5 {
  position: absolute;
  bottom: 20px;
  left: 50px;
}

.img_1--content_5 img {
  width: 80%;
  height: auto;
}

.img_2--content_5 {
  position: absolute;
  top: -40px;
  right: -65px;
}

.img_2--content_5 img {
  width: 80%;
  height: auto;
}
/*# sourceMappingURL=app.css.map */